###KLIPPER CONFIG FOR ROLOHAUN PEGASUS (MANTA M8P, EBB36, GALILEO2 CAN-BUS)###

###------------------------------------###
###       SOFTWARE LIBRARIES           ###
###------------------------------------###
[include mainsail.cfg]
[virtual_sdcard]
[include KAMP_Settings.cfg]
[include macros.cfg]



###------------------------------------###
###       HARDWARE LIBRARIES           ###
###------------------------------------###

[include SB2240.cfg]
[include steppers.cfg]
[include leds.cfg]
[include simple-stealthburner_leds.cfg]
#[include K-ShakeTune/*.cfg]
#[include stealthburner_leds.cfg]
#[include adxlmcu.cfg]
#[include microprobe.cfg]


[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 10
keep_raw_data: False
show_macros_in_webui: True


###------------------------------------###
###         PRINTER CONFIG             ###
###------------------------------------###
[mcu]
canbus_uuid: a26f271f7580

[exclude_object]

[temperature_sensor SoC]
sensor_type: temperature_host

[temperature_sensor MCU]
sensor_type: temperature_mcu

[force_move]
enable_force_move: true

[safe_z_home]
home_xy_position: 205,202.5
speed: 50
z_hop: 10
z_hop_speed: 15
move_to_previous: false

###------------------------------------###
###           KINEMATICS               ###
###------------------------------------###

##	[X in MOTOR1] - B Motor
##	[Y in MOTOR2] - A Motor
##	[Z in MOTOR3, 5 6 7] - Z0 - Z3 Motor
##	[E in MOTOR7] - Empty

[printer]
kinematics: corexy
max_velocity: 350
max_accel: 3000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 8.0

[quad_gantry_level]
gantry_corners:
	-100,-20
	560,560
#	Probe points
points:
	50,25
	50,370
	370,370
	370,25

speed: 100
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.01
max_adjust: 15

[bed_mesh]
speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 10
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
mesh_min: 20, 23
#   Defines the minimum X, Y coordinate of the mesh for rectangular
#   beds. This coordinate is relative to the probe's location. This
#   will be the first point probed, nearest to the origin. This
#   parameter must be provided for rectangular beds.
mesh_max: 370,370
#   Defines the maximum X, Y coordinate of the mesh for rectangular
#   beds. Adheres to the same principle as mesh_min, however this will
#   be the furthest point probed from the bed's origin. This parameter
#   must be provided for rectangular beds.
probe_count: 6, 6
#   For rectangular beds, this is a comma separate pair of integer
#   values X, Y defining the number of points to probe along each
#   axis. A single value is also valid, in which case that value will
#   be applied to both axes. Default is 3, 3.
#split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will trigger
#   a split. Default is .025.
#move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 4, 4
#   A comma separated pair of integers X, Y defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed point.
#   The user may enter a single value which will be applied to both
#   axes. Default is 2, 2.
#algorithm: lagrange
#   The interpolation algorithm to use. May be either "lagrange" or
#   "bicubic". This option will not affect 3x3 grids, which are forced
#   to use lagrange sampling. Default is lagrange.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above may
#   be applied to change the amount of slope interpolated. Larger
#   numbers will increase the amount of slope, which results in more
#   curvature in the mesh. Default is .2.
zero_reference_position: 205,202.5
#   An optional X,Y coordinate that specifies the location on the bed
#   where Z = 0.  When this option is specified the mesh will be offset
#   so that zero Z adjustment occurs at this location.  The default is
#   no zero reference.
#faulty_region_1_min:
#faulty_region_1_max:
#   Optional points that define a faulty region.  See docs/Bed_Mesh.md
#   for details on faulty regions.  Up to 99 faulty regions may be added.
#   By default no faulty regions are set.
adaptive_margin: 5
#   An optional margin (in mm) to be added around the bed area used by
#   the defined print objects when generating an adaptive mesh.


[axis_twist_compensation]
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
calibrate_start_x: 20
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position. This parameter must be provided.
calibrate_end_x: 280
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position. This parameter must be provided.
calibrate_y: 146
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter must be provided and is recommended to
#   be near the center of the bed

###------------------------------------###
###          BED SETTINGS              ###
###------------------------------------###

[heater_bed]
heater_pin: PB5
sensor_type: Generic 3950
sensor_pin: PA0 # TB
#control: watermark
min_temp: 0
max_temp: 130


###----------------------------------------------###
###                     FANS                     ###
###----------------------------------------------###


# Fan0
[controller_fan Stepper-Driver-Fan]
pin: PE6
stepper: stepper_x, stepper_y, stepper_z




[temperature_sensor chamber_temp]
sensor_type: Generic 3950 # This is a very common thermistor type. Check your thermistor's datasheet!
sensor_pin: PA4
# The following values are examples. Adjust them to match your desired operation.
min_temp: 0
max_temp: 80
# You can set a target temperature to display on the UI, but it won't actively control heating
# target_temp: 50

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.001257, 0.001243, 0.003743
#*# 	  0.003743, -0.001257, 0.001243
#*# 	  0.008743, 0.011243, 0.018743
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 185.0
#*# max_x = 215.0
#*# min_y = 185.0
#*# max_y = 215.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.938
#*# pid_ki = 2.291
#*# pid_kd = 460.246
#*#
#*# [probe]
#*# z_offset = 1.490
