#####################################################################
#       X/Y Stepper Settings (LDO-42STH48-2504AH)
#####################################################################

## B Motor (Left / Y-Position)
[stepper_y]
step_pin: PE2
dir_pin: !PB4
enable_pin: !PC11
rotation_distance: 32   #CHECK THIS: Use 32 for 16T pulleys, 40 for 20T pulleys
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 410
position_max: 410
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC10
diag_pin: PF3
run_current: 1.2        # Optimized for LDO-2504AH (Peak 2.5A)
interpolate: False
sense_resistor: 0.110
stealthchop_threshold: 0

[autotune_tmc stepper_y]
motor: ldo-42sth48-2504ah
sg4_thrs: 80           # Tune this value (0-255) for sensorless sensitivity


## A Motor (Right / X-Position)
[stepper_x]
step_pin: PF12
dir_pin: !PF11
enable_pin: !PB3
rotation_distance: 32   #CHECK THIS: Use 32 for 16T pulleys, 40 for 20T pulleys
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 3
position_endstop: 405
position_max: 405
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PF13
diag_pin: ^PF4          # ^ indicates pull-up resistor (often needed for sensorless)
run_current: 1.2        # Optimized for LDO-2504AH
interpolate: False
sense_resistor: 0.110
stealthchop_threshold: 0

[autotune_tmc stepper_x]
motor: ldo-42sth48-2504ah
sg4_thrs: 80           # Tune this value (0-255) for sensorless sensitivity


#####################################################################
#       Z Stepper Settings (Quad Gantry Leveling)
#####################################################################

## Z0 Stepper - Front Left
[stepper_z]
step_pin: PD7
dir_pin: PD6
enable_pin: !PF10
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 400
position_min: -20
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PF9
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

## Z1 Stepper - Rear Left
[stepper_z1]
step_pin: PC9
dir_pin: PC8
enable_pin: !PD1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PD0
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

## Z2 Stepper - Rear Right
[stepper_z2]
step_pin: PA10
dir_pin: PA14
enable_pin: !PA15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PF8
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

## Z3 Stepper - Front Right
[stepper_z3]
step_pin: PD11
dir_pin: PD9
enable_pin: !PD15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PD14
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
